:root {
    --theme: #FFCD9E;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;

    --font: Inter;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.toppart {
    background-color: var(--theme);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topleftside {
    height: 450px;
    width: 675px;
    padding-top: 25px;
    padding-left: 40px;
}

.topleftside h1 {
    font-size: 40px;
    /* font-weight: 600; */
}

.topleftside p {
    line-height: 30px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topleftside h5 {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.topleftside input {
    border: 4px solid var(--primary-color);
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 4px 0px 4px;
    width: 344px;
}

.topleftside button {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 216px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.topleftside h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--secondary-color);
    width: 344px;
    height: 61px;
    padding-left: 16px;
    padding-top: 40px;
}

/* footer */
.bottompart {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0px 60px 0px;
    color: var(--secondary-color);

}

.leftside {
    text-align: left;
}

.rightside {
    text-align: right;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lastp {
    padding-top: 12px;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
    .toprightside img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 1000px) {
    .toppart {
        height: 80%;
    }

    .topleftside {
        height: 800%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 4px;
        padding-left: 20px;
    }

    .topleftside button {
        margin-top: 12px;
    }

    .toprightside img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    .topleftside {
        height: 800%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 4px;
        padding-left: 20px;
    }

    .topleftside input {
        width: 90%;
    }

    .topleftside button {
        margin-top: 12px;
        width: 90%;
    }

    .topleftside h6{
        text-align: left;
    }

    .toprightside img {
        width: 300px;
        height: 300px;
    }

    .bottompart {
        flex-direction: column;
        align-items: center;
    }

    .rightside {
        text-align: left;
    }
}